<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1610890716171-6b1bb98ffd09?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1489&q=80);">
  <div class="container">

    <h1>GameWire <strong>louer</strong> vos jeux de société.</h1>
    <p>Avoir une passion c'est bien ! La partager avec les autres c'est mieux !</p>

    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Chercher votre jeu de société" aria-label="jeux" aria-describedby="button-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Chercher</button>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="cards">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/1600x900/?harrypotter)">
      GAME 1
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/1600x900/?boardgame)">
      GAME 2
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/1600x900/?dice)">
      GAME 3
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/1600x900/?fun)">
      GAME 4
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/1600x900/?monopoly)">
      GAME 5
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/1600x900/?boardgames)">
      GAME 6
    </div>
  </div>
</div>

<div class="footer">
  <p>WireGame 2021 ©</p>
  <i class="fab fa-linkedin"></i>
  <i class="fab fa-linkedin"></i>
  <i class="fab fa-linkedin"></i>
</div>

