<div class="container">
  <h1 class="mt-5">Bonjour <%= @user.username %></h1>

  <section class="user-games">
      <h2 class="title-line text-left"><span>Vos jeux proposés à la location</span></h2>
      <div class="row row-cols-3">
          <% @user.games.each do |game| %>
            <%= render  "shared/cards", game: game %>
          <% end %>
      </div>
  </section>

  <div class="user-bookings mt-5">
      <h2 class="title-line text-left"><span>Vos locations actuelles</span></h2>
      
          <% @user.bookings.each do |booking| %>
              <%= render "shared/request_card",owner: true, game: booking.game, booking:booking %>
          <% end %>


      <h2 class="title-line text-left"><span>Vos requêtes</span></h2>
      <% @user.games.each do |game| %>
        <% game.bookings.each do |booking| %>
              <%= render "shared/request_card",owner: false, game: game, booking: booking  %>
        <% end %>
      <% end %>
</div>
