<div class="container">
  <h2 class="text-center my-4">Nos jeux disponibles</h2>

  <%= render 'shared/searchbar' %>
  <br>
  <p> <%= @state %> </p>
  <div class="row row-cols-3 mt-3">
      <% @games.each do |game| %>
        <%= render 'shared/cards', game: game %>
      <% end %>
  </div>
</div>

